/*
Template: Xamin - Data Science And Analytics Landing Page
Author: iqonicthemes.in
Version: 2.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

:root {
	--primary-color: #437eeb;
	--secondary-color: #313e5b;
	--white-color:#ffffff;
	--white-light-color:#eff1fe;
	--warning-color:#ff0000;
	--success-color:#398f14;
	--title-color:#313e5b;
	--sub-title-color:#437eeb;
	--body-text:#525f81;
  }
@media(max-width:1920px) {
	.testimonial-img { position: absolute; right: 0; top: -62px; z-index: 2 }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 326px; }

	#mega-menu-wrap-top #mega-menu-top > li.mega-menu-megamenu > ul.mega-sub-menu {width: 900px;left: -50px;}
}
@media(max-width:1680px) {
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 208px; }
}
@media(max-width:1600px) {
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 160px; }
	#mega-menu-wrap-top #mega-menu-top > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu { left: -100%; }
}
@media(max-width:1499px) {
	.fancy_banner { padding: 0 80px; }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 112px; }
	header .sub-header { padding: 10px 70px }
	header .navbar ul li { margin-right: 25px; }
}
@media(max-width:1440px) {
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 88px; }
}
@media(max-width:1399px) {
	.fancy_banner { padding: 0 50px; }
	header .sub-header { padding: 10px 30px }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 70px; }
	.owl-carousel .owl-nav .owl-prev { left: -50px; }
	.owl-carousel .owl-nav .owl-next { right: -50px; }
	.vertical-center.slider .slick-prev, .vertical-center.slider .slick-next { right: -26px; }
	.service-effect-side { padding: 0 55px; }
	.service-effect-bg { padding-top: 50px; }
	.flip-effect-owl .owl-carousel .owl-nav button.owl-prev { left: -116px; }
	.flip-effect-owl  .owl-carousel .owl-nav .owl-next { right: 8px; }
	header .navbar ul li { margin-right: 20px; }
	.xamin-tabs .tab-content { margin-left: 15px; }
}
@media(max-width:1365px) {
	header .sub-header { padding: 0px 15px }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 60px; }
	header .navbar ul li a { font-size: 14px }
	header .navbar ul li .sub-menu li a { padding: 5px 15px; }
	.admin-bar header.two.menu-sticky .main-header { padding: 0px 15px; }
	.owl-carousel .owl-nav .owl-next { right: -10px; }
	.owl-carousel .owl-nav .owl-prev { left: -10px; }
	.testimonial-bg:before { height: 634px; }
	.vertical-center.slider .slick-prev, .vertical-center.slider .slick-next { right: 0; }
	.vc_custom_1566893181520.rbg-center-position { background-position: 0 !important; }
	.title-box { margin-bottom: 60px; }
	.unique-bg { padding: 100px 15px 100px 15px !important; }
	.xamin-history .history-img .vc_column-inner { padding-left: 15px !important; padding-right: 15px !important; }
	.iq-data-about .wpb_single_image img { max-width: 100%; left: -6%; }
}
@media(max-width:1299px) {
	.portfolio-detail-box ul.portfolio-detail li { width: 100%; }
	header.style-one li .search-box .search-submit, header.style-one li .search-box input[type="search"] { right: -10px; }
	.iq-rmb-45 { margin-bottom: 45px; }
	.iq-chart-data { margin-top: 75px !important; }
	header.style-vertical .iq-vertical-btn-container.btn-vertical-close { display: inline-block; }
	body.vertical-menu-expanded .site.vertical-site-content { padding: 0; }
	.iq-vertical-btn-container.btn-vertical-open, .vertical-navbar-brand{ display: inline-block; }
	body.vertical-menu-expanded .iq-vertical-btn-container.btn-vertical-open, body.vertical-menu-expanded .vertical-navbar-brand {display: inline-block; opacity: 1;}
	header.style-vertical { left: -300px; z-index: 99992; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
	body.vertical-menu-close header.style-vertical { left: 0; z-index: 99992; }
	body.vertical-menu-expanded .site.vertical-site-content .elementor-section.elementor-section-stretched { padding-left: 0px !important; }
}
@media(max-width:1199px) {
	.fancy_banner { padding: 0; }
	.absolute_img img { width: 80%; }
	.custom-tab .nav.nav-pills li { width: auto; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] { padding: 0; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] .nav-link.active, .custom-tab .nav.nav-pills[aria-orientation="vertical"] .nav-link:hover { box-shadow: none; }
	.xamin-right-img img { right: -19%; max-width: 105% !important; margin-bottom: 0; }
	.testimonial-style.owl-carousel .iq-testimonial { padding: 30px; }
	header.two .number-info:before, header.two .shop_list:before { display: none; }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px; }
	header.header-three .sub-header-three { margin-right: 30px; }
	header .navbar ul li { margin-right: 15px; }
	.rpadding-0 { padding-bottom: 0 !important; }
	.testimonial-bg:after, .man-img { display: none !important; }
	.widget.widget_nav_menu ul li .sub-menu, .widget ul.menu li .sub-menu { padding-left: 10px; }
	table td, table th { padding: 5px; text-align: center }
	.woocommerce .products li.product.last, .woocommerce-page .products li.last { margin-right: 30px; }
	.woocommerce .products li.product:nth-child(3n) { margin-right: 0; }
	.woocommerce .products.columns-4 li.product { width: 31.11%; }
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first { clear: right; }
	.woocommerce .related.products .products.columns-4 li.product { margin-bottom: 30px; }
	.slider-container .slider-content { width: 85%; height: 85%; }
	.slider-container .slider-left { right: 100%; }
	.slider-container .slider-right { left: 100%; }
	.services-slider .content { padding: 0; }
	.unique-bg { padding: 100px 0px 100px 0px !important; }
	.iq-team.iq-leader .iq-leader-info { bottom: -124px; }
	.xamin-tabs .services-tab .title-box h2 { font-size: 28px; }
	.xamin-tabs .services-btn { position: inherit; }
	.iq-rfont-26 { font-size: 26px !important; }
	.advisory-bg .timer-details .timer { color: var(--primary-color); }
	.service-effect-side { padding: 0; }
	.testimonial-img, .testimonial-bg:before, .advisory-bg:before, .our-advisory-title:before, .our-advisory-title:after { display: none !important; }
	.testimonial-box { padding: 30px; }
	.vertical-center.slider .slick-prev, .vertical-center.slider .slick-next { right: 45%; }
	.testimonial-img { top: -5px; }
	.vertical-center.slider .slick-next { top: -13%; }
	.vertical-center.slider .slick-prev { top: auto; bottom: -30%; }
	.consult-details h4 { font-size: 20px; }
	.Consulting-box .consult-effect:before { bottom: 6px; }
	.vc_parallax .vc_parallax-inner { background-size: auto !important; }
	.owl-carousel .owl-nav .owl-prev { left: 0px; }
	.owl-carousel .owl-nav .owl-next { right: 0px; }
	.silder-portfolio .owl-carousel .owl-nav i { border: 1px solid rgba(255, 255, 255, 0.6); color: #666666; }
	.xamin-tabs .nav-pills .nav-link.active { background: rgba(25, 192, 238, 0.4); }
	.header-style-3 .iq-breadcrumb-one { padding: 230px 0 100px 0; }
	.consulting-blog .consult-effect:before { display: none; }
	.slick-vertical .slick-slide { width: 100% !important; }
	.vertical-center.slider .slick-slide { margin: 0; }
	.Consulting-box .consult-effect:before { display: none; }
	.title-box.text-center { margin-bottom: 60px; }
	.title-box.title-shadow { margin-bottom: 30px; }
	.services-content.progress-style .progress-title { padding-right: 0; }
	.service-box img { width: 60px; height: 60px; }
	.service-box .iq-list li span { font-size: 12px; }
	h2 { font-size: 36px; }
	.iq-data-about .wpb_single_image img { max-width: 100%; left: 0%; top: 0px; }
	.iq-data-about .iq-objects.style-one.left { display: none; }
	.iq-tips .iq-objects.style-one.right { right: 8%; top: -69%; }
	.service-boxon-shodow { padding: 15px 15px; }
	header #mega-menu-wrap-top #mega-menu-top > li.mega-menu-item > a.mega-menu-link { padding: 0 10px !important; }
	.iq-chart-data .vc_chart .vc_chart-legend { display: none; }
	.iq-higher-edu img { left: -60%; }

	header .navbar .sub-main ul.shop_list li {margin-right: 20px;}
	#mega-menu-wrap-top #mega-menu-top > li.mega-menu-megamenu > ul.mega-sub-menu {width: 900px;left: -90px;}
	header ul.shop_list {margin-left: 0px;}
	header ul.shop_list li.search-btn {margin-left: 0px;}
	header ul.shop_list li.wishlist-btn {padding-left: 0px;}

}
@media only screen and (device-width:1024px) {
	header .navbar ul li { margin-right: 20px; }
	.Consulting-box .consult-effect:before { bottom: -20px; }
	.Consulting-box:hover .consult-effect:before { bottom: -3px }
	.consult-feature .service-detail h4 { font-size: 24px; }
	.xamin-services h4 { font-size: 24px; }
	.service-effect-bg:before { height: 192px; }
	.title-box h2 { font-size: 30px; line-height: 45px; }
	.contact-box { padding: 15px; }
	.images-effect .scroll-effect .img-two { right: -23px; top: -266px; width: 300px; }
	.flip-effect-owl .owl-carousel .owl-dots .owl-dot { border: 1px solid var(--white-color); }
	.xamin-history .year { padding-top: 30px; padding-bottom: 25px; padding-right: 24px; }
	.rmt-30 { margin-top: 30px; }
	.xamin-tabs .tab-content img { height: 100%; }
	.custom-tab .nav.nav-pills li { width: 47.72%; }
	.xamin-left-img img { position: relative; left: -15%; max-width: 124% !important; }
	.service-box .service-detail h4 { font-size: 20px; }
	header .navbar ul li { margin-right: 10px; }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px ; }
	.custom-tab .nav.nav-pills { display: inline-table; width: 80%; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] li.nav-item { width: auto; display: inline-block; }
	.service-boxon-shodow { padding: 15px 10px; }
	.owl-carousel.client-logo.client-bg-shadow.owl-loaded.owl-drag { margin-top: -160px; }

	#mega-menu-wrap-top #mega-menu-top > li.mega-menu-megamenu > ul.mega-sub-menu {width: 900px;left: -130px;}
}
@media(max-width:1024px) {
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px; }
	.owl-carousel.client-logo.client-bg-shadow.owl-loaded.owl-drag { margin-top: -160px; }
	.iq-fancy-box-style-1 .arrow { display: none; }
	.iq-client-col-3 li, .iq-client-col-4 li, .iq-client-col-5 li, .iq-client-col-6 li { width: 50%; }
	.iq-accordion.career-style .iq-accordion-block .accordion-title span { width: 85%; float: left; }
	.iq-accordion.career-style .accordion-title:before { float: left; margin-right: 15px; }
	.iq-accordion.career-style .active-faq a.accordion-title { float: left; width: 100%; }
	.iq-icon-box-style-4 { padding: 30px; }
	.iq-icon-box-style-4 .img-block { position: relative; top: 0; left: 0; }
	.iq-testimonial-2 .owl-item .iq-testimonial-info .iq-testimonial-content p { padding: 0 30px; }
	.iq-sidearea-btn-container { display: none }
}
@media(max-width:992px) {
	header.style-vertical .navbar ul li.current-menu-item a, header.style-vertical .navbar ul li a:hover { background: inherit; }
	header.style-vertical .navbar ul li i { padding: 0; }
	header.style-vertical .navbar ul.navbar-nav, header.style-vertical .menu-main-menu-container { max-height: inherit; }
	header .navbar ul li .sub-menu, header .navbar ul li:hover .sub-menu { display: none; background: rgba(125, 144, 166, 0.14); position: relative; top: 0; width: 100%; padding: 10px; z-index: 9; }
	header .navbar ul li .sub-menu li:hover>.sub-menu { width: 100%; background: rgba(125, 144, 166, 0.14); position: relative; left: 0; box-shadow: none; padding: 10px; }
	header .navbar ul.navbar-nav { overflow-y: scroll; overflow-x: hidden; max-height: 350px; float: left; display: inline-block; width: 100%; background: var(--white-color); }
	header .navbar ul li:hover .sub-menu { box-shadow: none; }
	.mb-n1 { margin-bottom: 0 !important; }
	.fancy_service { margin-bottom: 60px; }
	.iq-video-relative { padding: 100px 0; }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px; }
	header.style-one.style-two ul li .sub-menu, header.style-one.style-two .navbar ul li:hover .sub-menu { background: var(--body-text); }
	header.menu-sticky .main-header { padding: 10px 15px; }
	header .navbar .navbar-nav li .sub-menu li a, header .navbar ul li .sub-menu li .sub-menu li.menu-item a { background: var(--white-color); }
	header .navbar ul li .sub-menu li:hover>.sub-menu, header .navbar .navbar-nav li .sub-menu li:hover>.sub-menu { padding: 10px; }
	h2 { font-size: 30px; }
	.iq-rmb-45 { margin-bottom: 45px; }
	.portfolio-detail-box ul.portfolio-detail li { width: 48%; }
	.xamin-history .history-details { padding: 0; }
	.page-id-2329 { padding: 150px 0; }
	.page-id-2324 { padding: 90px 0; }
	.site-main .sf-content>.vc_row.wpb_row.vc_row-fluid, .content-area .site-main, .home.blog .content-area .site-main { padding: 75px 0 }
	.overview-block-ptb { padding-top: 75px; }
	header .main-header { z-index: 99; }
	header .navbar .sub-main .blue-btn.button { right: 72%; position: relative; }
	header .navbar-light .navbar-toggler { background: var(--primary-color); color: var(--white-color); border-color: var(--primary-color); padding: 0.25rem .50rem; position: absolute; right: 0px; top: 6px; }
	header.style-one .navbar-light .navbar-toggler { right: 0px; top: 20px; }
	header .navbar-light .navbar-toggler:focus { outline: none }
	header .navbar-collapse { position: absolute; top: 70px; line-height: 0; left: 0; display: inline-block; width: 100%; -webkit-box-shadow: 0px 10px 30px 0px rgba(70, 200, 148, 0.2); -moz-box-shadow: 0px 10px 30px 0px rgba(70, 200, 148, 0.2); box-shadow: 0px 10px 30px 0px rgba(70, 200, 148, 0.2) }
	header.menu-sticky .navbar-collapse { top: 78px; }
	header.style-one.style-two .navbar ul, header.style-one.style-two { background: var(--secondary-color); }
	header .navbar ul { float: left; display: inline-block; width: 100%; background: var(--white-color); }
	header .navbar ul li.current-menu-parent>a { background: var(--primary-color); color: var(--white-color); }
	header .navbar ul li, header .navbar ul.sub-menu li { margin-right: 0; display: inline-block; position: relative; width: 100%; }
	header .navbar ul li a { color: var(--secondary-color); line-height: normal; display: inline-block; width: 100%; font-size: 18px; padding: 15px; z-index: inherit; text-align: left; }
	header .navbar ul li a:before { border-radius: 0 }
	header .navbar ul li .sub-menu li a { color: var(--secondary-color); padding: 10px 15px; }
	header .navbar ul li i { display: block; position: absolute; right: 0; top: 0; padding: 12px 15px; line-height: 28px; font-size: 20px; z-index: 9; color: var(--secondary-color); transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out }
	header .navbar ul li.current-menu-item i, header .navbar ul li.current-menu-parent i { color: var(--white-color); }
	header.menu-sticky .main-header .navbar ul li a { line-height: normal; text-align: left; }
	header.menu-sticky .main-header .navbar ul li:hover .sub-menu { top: 0 }
	header .navbar ul li .sub-menu li i { top: 0; right: 0; color: var(--secondary-color); font-size: 20px }
	header .navbar ul li .sub-menu li:hover>.sub-menu { width: 100%; background: #f6f5f7; position: relative; left: 0; box-shadow: none; padding: 0px; }
	header .navbar ul li .sub-menu li i:before { content: "\f107" }
	header .navbar ul li a:before { display: none }
	header .navbar ul li.current-menu-item a, header .navbar ul li a:hover { background: var(--primary-color); text-align: left; color: var(--white-color); }
	header.style-one { overflow: visible; position: relative; background: var(--white-light-color); }
	header.style-one .navbar-brand { line-height: 0; }
	header.style-one .shop_list { background: none !important; position: absolute; right: 60px; top: 17px; }
	header.style-one li .search-box .search-submit { top: -46px; right: -6px; }
	header.style-one li .search-box .search-submit i { color: var(--secondary-color); }
	header.style-one li .search-box input[type="search"] { right: 0; top: -30px; }
	header .menu-main-menu-container { max-height: 330px; overflow-y: scroll; overflow-x: hidden; }
	header.style-vertical .vertical ul{background: transparent;}
	header.style-one.style-two .navbar ul li.current-menu-item a, header.style-one.style-two .navbar ul li a:hover { color: var(--white-color); }
	header.style-one.style-two .navbar ul li .sub-menu li:hover, header.style-one.style-two .navbar ul li a:hover, header.style-one.style-two .navbar ul li.current-menu-item a, header.style-one.style-two .navbar ul li.current-menu-parent a, header.style-one.style-two .navbar ul li.current-menu-parent i, header.style-one.style-two .navbar ul li.current-menu-item i { color: var(--white-color); }
	header.style-one.style-two .navbar ul li.current-menu-parent>a, header.style-one.style-two .navbar ul li .sub-menu li.current-menu-item a { background: var(--primary-color); color: var(--white-color); }
	.iq-breadcrumb .title { font-size: 38px; }
	.contact-two .wpb_gmaps_widget .wpb_map_wraper iframe { width: 94%; }
	.xamin-tabs .tab-pane.fade.active.show img { width: 100%; }
	.xamin-tabs .services-btn { position: inherit; display: inline-block; }
	.xamin-tabs .nav-pills .nav-link.active { background: var(--primary-color); }
	.btn-right { right: 50%; bottom: 60px; }
	.title-box { margin-bottom: 30px; }
	.consul-sub { margin-bottom: 45px !important; }
	.testimonial-img, .testimonial-bg:before, .youtube-video  .consult-video { display: none !important; }
	.testimonial-box { padding: 30px; }
	.vertical-center.slider { margin: 120px auto; }
	.Consulting-box img { width: 100%; }
	.effect-banner:before { top: -116px; }
	.iq-breadcrumb-one { padding: 80px 0; }
	.silder-portfolio .owl-carousel .owl-nav i { color: var(--secondary-color); }
	.xamin-tabs .tab-content img { width: 100%; }
	.our-feedback .xamin-contact.style-three
	.xamin-contact.style-three { margin-left: 15px; }
	.unique-bg { padding: 75px 0 !important; }
	.sidebar-service-left { padding-right: 15px; }
	.sidebar-service-right { padding-left: 15px; }
	.vertical-center.slider { margin-bottom: 60px; }
	.iq-timer { margin-bottom: 30px; }
	.footer-one .footer-top { padding: 75px 0; }
	.effect-footer:after { top: -111px; }
	.images-effect .scroll-effect .img-two { position: absolute; right: 21%; top: -600px; }
	.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body { padding: 30px 2px !important; }
	.flip-effect-owl .owl-carousel .owl-nav button.owl-prev, .flip-effect-owl .owl-carousel .owl-nav button.owl-next { background: transparent !important; }
	.flip-effect-owl .owl-carousel .owl-nav { top: -174px; }
	.service-two-img { padding: 0 !important; }
	.sidebar-widget-left { padding-right: 0px; }
	.sidebar-widget-right { padding-left: 0px; }
	.xamin-history .year { padding: 0; margin-top: 30px; }
	.xamin-contact.contact-style { background: var(--white-light-color); margin-bottom: 0; padding: 75px 45px; }
	.xamin-contact.contact-style h2 { font-size: 36px; }
	.maintenance { padding: 150px 0; }
	.site-padding { padding-left: 0px !important; }
	.iq-coming .countdown li { width: 114px; height: 130px; }
	.iq-coming .countdown li span:after { right: -58px; }
	.Consulting-box .consult-effect:before { bottom: -24px; }
	.Consulting-box:hover .consult-effect:before { bottom: 1px }
	.xamin-tabs .tab-content { margin-left: 0; }
	.count-style .iq-timer { margin-bottom: 30px; }
	.fancy-clients .col-lg-2.col-md-3.col-sm-12:nth-child(6) { border-right: 0; }
	.iq-coming { padding: 100px 0; }
	.xamin-blue-bg .owl-carousel .owl-dots .owl-dot.active { background: var(--white-color); border: 1px solid var(--white-color); }
	.xamin-left-img img { position: relative; left: 0; max-width: 100% !important; }
	header.style-one .blue-btn.button { position: inherit; padding: 6px 20px; }
	.custom-tab .nav.nav-pills { display: inline-table; width: 80%; }
	.custom-tab .nav.nav-pills li { width: 49.72%; }
	footer .footer_top_block { padding-bottom: 45px; }
	.consult-services.xamin-circle.right:before, .consult-services.xamin-square.right::before, .consult-services img.arrow-img { display: none; }
	.iq-feature-circle { margin-left: 150px; margin-top: 45px; }
	.fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(5), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(9) { border-left: 1px solid rgba(2, 13, 30, 0.1); }
	.testimonial-style.owl-carousel .owl-item .iq-testimonial-userbehavior p { padding: 0px 100px; }
	.x-behaviour .iq-objects.style-one { display: none; }
	.x-service-behaviour .iq-objects.style-one.right { display: none; }
	.iq-get-data-right img { position: relative; left: 0%; }
	.iq-get-data .iq-objects.style-one.left { display: none; }
	.iq-get-data { padding-top: 0px !important; }
	.iq-get-data-left img { display: none; }
	.container-visualization ul.iq-client.column-5 li { width: 33.33%; float: left; }
	.container-visualization ul.iq-client.column-5 li:nth-child(3) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(6) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(9) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(12) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(15) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(18) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(21) { border-right: 1px solid var(--white-light-color); }
	.iq-tips .iq-objects.style-one.right { display: none; }
	.iq-compliance .iq-objects.style-one.right { display: none; }
	.iq-service-box { margin-bottom: 45px; }
	.iq-timer.style4 { margin-bottom: 30px; }
	.iq-video-button img { width: 100%; }
	.iq-timer.style4.border-right-0 { border-right: 1px solid #e8e4db !important; }
	.iq-video-button .main-video .video-btn a { position: absolute; top: 50%; left: 50%; margin-right: -36%; 
		transform: translate(-50%, -50%); margin-left: 0%; }
	.owl-carousel.client-logo.client-bg-shadow.owl-loaded.owl-drag { margin-top: 0px; }
	.iq-data-center-img img { max-width: inherit !important; }
	.iq-higher-edu img { max-width: 100% !important; top: 0%; position: relative; left: 0%; }
	.about-section { padding-bottom: 75px !important; padding-top: 0px !important; }
	.video-edu .main-video { left: 30%; }
	.iq-servicebox-three { margin-bottom: 30px; }
	.iq-fancy-box-style-4 .arrow img {display: none;}

	header .navbar .sub-main ul.shop_list li { position: relative; right: 0; width: auto; top: 0px; vertical-align: middle; }
	header .navbar .sub-main ul.shop_list li .cart_count #mini-cart-count, 
	header .navbar .sub-main ul.shop_list li .wcount { top: 6px; right: 0px; text-align: center; }
	header .navbar .sub-main ul.shop_list li.cart-btn {right: -4%;
	top: -30px; }
	header .navbar .sub-main ul.shop_list li.wishlist-btn {right: 5%; top: -5px;}
	header .navbar .sub-main ul.shop_list li.search-btn {    right: 0%; top: -5px;}
	header li .search-box .search-submit {top: -20px;}
	.admin-bar header.style-two {top: 0;}
	.responsive-vertical-logo-btn .logo {display: inline-block;vertical-align: middle;}

	header.style-one .shop_list {background: none !important;position: relative;width: auto;right: 60px;top: 0; }
	header.style-one li .search-box .search-submit {right: -6px; }
	header.style-one li .search-box .search-submit i { color: var(--secondary-color); }
	header.style-one li .search-box input[type="search"] {right: 0;top: -5px; }

	header.style-one .shop_list {background: none !important;position: relative;width: auto;right: 60px; top: 0; }
	header.style-one li .search-box .search-submit { right: -6px; }
	header.style-one li .search-box .search-submit i { color: var(--secondary-color);}

	header .navbar .sub-main .blue-btn.button a {font-size: 14px;line-height: 0px;padding-left: inherit;padding-left: 0px; padding-right: 0px;}

	header .navbar .sub-main  .blue-btn.button {right: 3%;}
	header ul.shop_list li .search-box .search-submit {top: -45px;right: 0px;}
	header ul.shop_list li.cart-btn .cart_count a:hover {color: var(--primary-color);}
	header .navbar .sub-main ul.shop_list li.wishlist-btn a, header .navbar .sub-main ul.shop_list li.wishlist-btn a:hover{
	background: transparent; color: var(--primary-color);}
	header .navbar .sub-main ul.shop_list .blue-btn.button a{line-height: 0px;}

	#vertical-menu-sub-main ul.shop_list{margin-bottom: 0px;}
	header #mega-menu-wrap-top #mega-menu-top > li.mega-menu-item > a.mega-menu-link { padding: 15px !important; }



@media(max-width:979px) {
	.testimonial-style.owl-carousel .iq-testimonial { margin: 15px 30px 60px; }
	.widget_calendar .calendar_wrap table th, .widget_calendar .calendar_wrap table td { padding: 2px }
	.commentlist .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url, .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url { width: 100%; margin-right: 0 }
	.comment-form-cookies-consent label { padding-left: 30px; margin-top: -32px }
	.vertical-center.slider .slick-prev, .vertical-center.slider .slick-next { right: 40%; }
	.iq-team.iq-leader .iq-leader-info { padding: 30px; }
	.xamin-contact h2 { font-size: 36px; line-height: 46px; }
	.map-detail { padding: 15px; }
	.xamin-contact.contact-style { padding: 75px 30px; }
	.xamin-contact.contact-style h2 { font-size: 28px; }
	.flip-effect-owl .owl-carousel .owl-nav { top: -224px; }
	.our-advisory-team .iq-team .iq-team-img img { width: auto; }
	.vertical-center.slider .slick-prev { bottom: -28% }
	.service-effect-bg { padding-top: 20px; }
	.effect-banner:before { top: -122px; }
	.testimonail-widget-menu .owl-carousel .owl-dots { bottom: 22%; }
	.careers-faq .iq-accordion .iq-ad-block .ad-title span { font-size: 20px; }
	.fancy-style-four .service-box .service-detail h3 { font-size: 26px; line-height: 36px; }
	.custom-tab .nav.nav-pills li { width: 24.72%; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] li.nav-item, .custom-tab .nav.nav-pills[aria-orientation="vertical"] li { width: auto; display: inline-block; }
	.admin-bar header.style-one { top: 0; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] .nav-link .tab-title { display: block; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] { width: 100%; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] .nav-link { width: auto; display: inline-block; margin: 0 15px 15px; }
	.timeline-article .content-box { width: 45%; }
	.data-science .owl-carousel.testimonial-style .iq-boxslider-detail .boxslider-content { width: 100%; padding-right: 10px; }
	.data-science .owl-carousel.testimonial-style .iq-boxslider-detail .box-gpa { width: 100%; }

	#vertical-menu-sub-main ul.shop_list li.search-btn .search-form input {padding-right: 15px;}
	#vertical-menu-sub-main ul.shop_list .blue-btn.button {padding: 10px 20px;}

}
@media(max-width:777px) {
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px; }
}
@media(max-width:767px) {
	.iq-tabs.iq-tab-horizontal-2 li .line:after { display: none; }
	.iq-tabs.iq-tab-horizontal-2 .nav.nav-pills li { width: auto; margin: 0 15px 15px; }
	.iq-tabs.iq-tab-horizontal-2 span.dot { top: -120px; }
	.iq-client-col-3 li, .iq-client-col-4 li, .iq-client-col-5 li, .iq-client-col-6 li { width: 100%; }
	.iq-tabs .nav.nav-pills li { width: auto; }
	.iq-fancy-box-list-2 .iq-fancy-box-content { display: block; }
	.iq-fancy-box-list-2 .iq-img-area { margin-bottom: 15px; }
	.iq-list.iq-two-column ul, .iq-list.iq-three-column ul, .iq-list.iq-four-column ul, .iq-list.iq-five-column ul, .iq-list.iq-six-column ul { columns: 1; }
	.fancy_service.style2 .fancy_img { display: none; }
	.absolute_img { top: 30px; }
	.iq-feature-circle .iq-img .feature-info h6 { display: none; }

	/*Feature Circle*/
	.iq-feature-circle { height: 450px; width: 450px; display: block; margin: 0 auto; }
	.iq-feature-circle .iq-img::before, .iq-feature-circle .iq-img { height: 400px; width: 400px; }
	.iq-feature-circle .iq-img ul li:nth-child(5) .feature-info { left: -5%; }
	.iq-feature-circle .iq-img ul li:nth-child(4) .feature-info { right: -5%; }
	.iq-timer.text-left.counter-horizontal { width: 100%; }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 40px; }
	header.header-three .sub-header-three { display: none; }
	header.style-one .sub-header .request-btn a { padding: 14px 30px; margin-left: 0px; right: -15px; top: 2px; }
	header.style-one .sub-header .request-btn a:before { width: 126%; }
	header.style-one .sub-header .social-icone { margin-left: 0px; }
	header .sub-header .number-info li, header .sub-header .number-info li:last-child { border: none; }
	header.style-one .container-fluid.sub-header .row .col-auto.mr-auto { background: var(--white-light-color); }
	header.style-one .sub-header .number-info li:last-child { text-align: right; }
	.page-numbers li .prev.page-numbers, .page-numbers li .next.page-numbers { display: none }
	.error-404 .big-text { font-size: 200px }
	.contact-block .vc_column-inner, .widget-area { margin-top: 30px }
	.commentlist .iq-comment-wrap { display: block }
	.commentlist ol.children { padding-left: 30px }
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product { width: 100%; }
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering { float: inherit; }
	.woocommerce .woocommerce-result-count { margin: 0px 0 15px; width: 100%; text-align: center; }
	.yith-wcwl-add-to-wishlist { top: 40px; right: inherit; left: 15px; }
	.woocommerce div.product .woocommerce-tabs ul.tabs li { padding: 0 15px; }
	.woocommerce table.shop_table td { display: inline-block !important; width: 100%; }
	.product-quantity .quantity { float: right; }
	.woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child { border-top: 1px solid rgba(0, 0, 0, .1); }
	.woocommerce-MyAccount-navigation ul { margin: 0 0 30px 0; }
	.no-margin .iq-mb-30, .iq-mb-30 { margin-bottom: 30px !important; }
	.no-margin .iq-mt-30, .iq-mt-30 { margin-top: 30px !important; }
	.iq-masonry.iq-columns-3 .iq-masonry-item { padding-right: 0; }
	.iq-objects-style-2:before { top: 0; }
	.iq-breadcrumb.text-left, .iq-breadcrumb .text-left, .copyright-footer { text-align: center !important; }
	.iq-breadcrumb .float-right { float: none !important; }
	.iq-breadcrumb .title { font-size: 32px; }
	.iq-breadcrumb.text-left .breadcrumb li, .iq-breadcrumb.text-left .breadcrumb li a { font-size: 14px; }
	.copyright-footer .col-auto { display: inline-block; width: 100%; }
	.our-advisory-team .owl-carousel, .our-advisory-team .iq-team .iq-team-img img { width: 100%; }
	.iq-team.iq-leader .iq-leader-info { bottom: -94px; }
	.our-services-tab.map-contact .contact-form.xamin-contact, .our-services-tab.map-contact .contact-details-three { margin-top: 0 !important; }
	.timer-details .timer { font-size: 35px; }
	.btn-right { position: inherit; margin-bottom: 45px; }
	.xamin-map:before { background-position: 68% 86%; }
	h2, .title-box h2, .title-box .subtitle { font-size: 28px; line-height: 40px; }
	.Consulting-img .video-img { width: auto; }
	.video-img { width: 250px }
	.col-auto.mr-auto { display: block; width: 100%; }
	.col-auto.col-auto.ml-auto.sub-main.pr-0 { margin: inherit !important; }
	.xamin-history .year { padding: 0; }
	.images-effect .scroll-effect img.img-one { width: 68%; }
	.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body { padding: 30px 15px !important; }
	.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a { color: var(--primary-color);  !important; }
	.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a { color: var(--secondary-color) !important; }
	.images-effect .scroll-effect img.img-two { width: 256px; top: -282px; right: 30px; }
	.careers-faq .active-faq .button { font-size: 14px; padding: 5px 15px; float: inherit; margin-top: 15px; }
	.careers-faq .active-faq a.ad-title span { font-size: 20px; }
	.service-box { display: block; }
	.service-box img { margin-bottom: 15px; }
	.about-xamin-box .fancy-about { padding: 30px 50px; }
	.effect-box.main .effect-btn { right: 30px; }
	.vc_chart .vc_chart-legend li { margin-right: 15px !important; }
	.vc_line-chart .vc_chart-legend { width: 60% !important; }
	.contact-two .wpb_gmaps_widget .wpb_map_wraper iframe { width: 85%; height: 415px; }
	.iq-breadcrumb-one .breadcrumb li:last-child::after { display: none; }
	.testimonail-widget-menu .owl-carousel .owl-dots { display: none; }
	.vertical-center.slider .slick-prev, .vertical-center.slider .slick-next { right: 46%; }
	.vertical-center.slider .slick-prev { bottom: -80px; }
	.services-slider { box-shadow: none; margin: 0px 15px 35px 15px; }
	.services-slider .col-sm-6.iq-shadow { box-shadow: 0px 18px 21px 0px rgba(0, 0, 0, 0.08); background: var(--white-color); }
	.services-slider .content { padding: 30px 15px; }
	.services-slider .content i { margin-bottom: 15px; }
	.maintenance h2 { font-size: 40px; }
	.iq-coming h1 { font-size: 64px; }
	.iq-breadcrumb-one { padding: 75px 0; }
	.iq-coming .countdown li span:after { right: -24px; font-size: 28px; top: 1px; }
	.iq-coming .countdown li span { font-size: 38px; }
	.portfolio-detail-box ul.portfolio-detail li { width: 100%; }
	header.style-one .sub-header .number-info li a { font-size: 12px; }
	.iq-coming .countdown li { width: 63px; height: 120px; margin: 0 10px; border: none; }
	header.style-one .navbar-light .navbar-toggler { right: 0; }
	.admin-bar header.style-one { top: 0; }
	header .navbar .sub-main .blue-btn.button { position: relative; right: 64%; }
	.custom-tab .nav.nav-pills li { width: auto; }
	.custom-tab .nav-pills .nav-link .tab-title { font-size: 16px; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] .nav-link .tab-title { font-size: 20px; }
	.custom-tab .nav-pills .nav-link img { display: block; text-align: center; margin: 0 auto; width: 70px; }
	.testimonial-style.owl-carousel .iq-testimonial { margin: 15px 0px 60px; }
	.custom-tab .nav.nav-pills { width: 100%; }
	.iq-accordion.career-style .active-faq .button { float: inherit; font-family: Poppins; border-radius: 90px; overflow: hidden; padding: 6px 20px; font-size: 14px; margin-top: 15px; }
	.iq-breadcrumb-one .breadcrumb { margin-bottom: 30px; }
	.fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(2), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(3), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(4), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(6), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(8), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(10), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(11), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(12), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(14), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(15), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(16), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(17), .fancy-clients .col-lg-2.col-md-3.col-sm-6:nth-child(18) { border-left: 1px solid rgba(2, 13, 30, 0.1); }
	.services-content.progress-style .progress-title { padding: 0; }
	.client-xamin .owl-carousel .owl-item .clients-box.hover-effct img { margin: 0 auto; }
	.rmb-30 { margin-bottom: 30px }
	.d-inline.rmb-30 { display: block !important; }
	header.menu-sticky .navbar-collapse { top: 82px; }
	.service-box .iq-list li span { font-size: 16px; }
	.first-tec .tec_box { margin-top: 45px; }
	.iq-breadcrumb-one .text-left { text-align: center !important; }
	.iq-tabs.iq-tab-vertical-2 .nav.nav-pills[aria-orientation="vertical"] .nav-link img { width: auto; }
	.testimonial-style.owl-carousel .owl-item .iq-testimonial-userbehavior p { padding: 0px 30px; }
	.servicebox-userbehavior .service-box-icon { left: -2%; }
	.main-timeline-section .conference-center-line { left: 0; }
	.timeline-article .meta-date { left: 0; }
	.timeline-article .content-box { width: 92%; left: 0; padding: 20px; margin-left: 30px; }
	.content-left-container .content-box { left: 0%; margin-left: 30px; }
	.content-left-container .content-box { margin-left: 30px; }
	.data-science .owl-carousel.testimonial-style .iq-boxslider-detail .boxslider-content { display: table-cell; width: 100%; padding-right: 0px; }
	.data-science .testimonial-style.owl-carousel .owl-dots { position: absolute; bottom: auto; }
	.iq-address li a .content { display: block; padding-left: 30px; }
	.iq-address li a .header { padding-left: 15px; }
	.custom-tab-userbehavior li .line:after { display: none; }
	.custom-tab-userbehavior .nav-item { width: 30%; }
	.custom-tab-userbehavior { margin-top: 75px; }
	.custom-tab-userbehavior span.dot { display: none; }
	.container-visualization ul.iq-client.column-5 li { width: 50%; }
	.container-visualization ul.iq-client.column-5 li:nth-child(2) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(4) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(6) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(8) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(10) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(12) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(14) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(16) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(18) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(20) { border-right: 1px solid var(--white-light-color); }
	.owl-carousel.client-logo.client-bg-shadow.owl-loaded.owl-drag { padding: 15px 15px; }
	.video-edu .iq-video-button { display: none; }
	.iq-grey-bg { padding-top: 0px !important; }
	.iq-tabs.iq-tab-vertical-2 .nav.nav-pills .nav-link.active img, .iq-tabs.iq-tab-vertical-2 .nav.nav-pills .nav-link:hover img { margin-bottom: 30px; }
	.iq-fancy-box-style-5 .iq-img-area { display: none; }
	.iq-fancy-box-style-5 .iq-fancy-info { width: 100%; }
	.iq-fancy-box-style-5 .arrow_bg_effect { right: -15px; }
	.iq-slider-with-text-2 .iq-service-slider .slider-info { padding-right: 30px; }

	header .navbar .sub-main .blue-btn.button {position: relative;right: -2%;}
	#vertical-menu-sub-main ul.shop_list .blue-btn.button {display: none;}
	.iq-default-blog-style-2 .iq-blog-box {
    display: block;    border-bottom: none;
    padding-bottom: 0px;}
    .iq-default-blog-style-2 .iq-blog-box .iq-blog-detail {margin-left: 0px; border-radius: 4px; border: 1px solid var(--white-light-color);}
    .iq-default-blog-style-2 .iq-blog-article-style:nth-child(even) .iq-blog-box {display: block;}
    .iq-default-blog-style-2 .iq-blog-article-style:nth-child(even) .iq-blog-box .iq-blog-detail {margin-left: 30px;}
    .iq-default-blog-style-2 .iq-blog-article-style:nth-child(even) .iq-blog-box .iq-blogtag {margin: 0 0px 0px 15px;}
    .iq-default-blog-style-2 .iq-blog-article-style:nth-child(even) .iq-blog-box .iq-blogtag li {float: left;}
    .iq-default-blog-style-2 .iq-blog-box .iq-blog-image img{height: auto;}

	.iq-default-blog-style-2 .iq-blog-box{margin-bottom: 0px; border: none;}
	.iq-default-blog-style-2 .iq-blog-box{display: block;border: none;}
	.iq-default-blog-style-2 .iq-blog-box .iq-blogtag{bottom: auto; top: 15px;}
	.iq-default-blog-style-2 .iq-blog-box .iq-blog-detail{position: relative;
	width: calc(100% - 60px);
	background-color: var(--white-color);
	margin: -100px 0 30px 30px;
	padding: 20px;
	z-index: 1;    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);}

	#vertical-menu-sub-main .xamin-res-shop-btn-container {font-size: 20px;  display: inline-block;position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; 
 width: 50px; height: 50px; text-align: center; color: white; background: var(--primary-color); outline: none; z-index: 100000; -webkit-transition: all 0.3s; transition: all 0.3s; border-radius: 90px; }

	#vertical-menu-sub-main { -webkit-perspective: 1000px; perspective: 1000px; z-index: 9;    right: 30px;
    position: absolute;
    top: -25px;
     transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
#vertical-menu-sub-main:hover .iq-shop-btn { visibility: visible; } 
#vertical-menu-sub-main { right: 0; }
#vertical-menu-sub-main .xamin-res-shop-btn-container:hover  .iq-shop-btn { -webkit-transition-delay: 0s; transition-delay: 0s; }
#vertical-menu-sub-main .iq-shop-btn { font-size: 16px; position: absolute; margin: 0; top: 50px; 
	-webkit-backface-visibility: hidden; backface-visibility: hidden; 
	-webkit-transform-style: preserve-3d; transform-style: preserve-3d; 
	-webkit-transition-delay: 0.5s; transition-delay: 0.5s; }
#vertical-menu-sub-main  ul.shop_list { position: relative; 
	list-style: none; margin: 0; padding: 0; z-index: -1; }
#vertical-menu-sub-main  ul.shop_list li { margin-bottom: 5px; position: relative; 
	opacity: 0; width: 45px; height: 45px; -webkit-transition: all 0.5s; transition: all 0.5s; }
#vertical-menu-sub-main ul.shop_list li a { border-radius: 90px; 
	display: -webkit-box; display: -ms-flexbox; display: flex; color: #000000; 
	text-decoration: none; text-align: center; font-size: 16px; width: 45px; height: 45px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; background: var(--white-color); text-decoration: none; -webkit-transition: all 0.3s; transition: all 0.3s; -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05); box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05); }
#vertical-menu-sub-main ul.shop_list li a:hover { background: var(--primary-color); color: white; }
#vertical-menu-sub-main input:checked ~ .xamin-res-shop-btn-container { background: var(--white-color); color: var(--primary-color); }
#vertical-menu-sub-main input:checked ~ .iq-shop-btn { -webkit-transform: rotateY(0); transform: rotateY(0); -webkit-transition-delay: 0s; transition-delay: 0s; }

#vertical-menu-sub-main .shop_list.hover li{
	opacity: 1; -webkit-transition: all 0.3s; transition: all 0.3s; z-index: 4;
}
#vertical-menu-sub-main .shop_list.hover li:nth-of-type(1) { -webkit-transition-delay: 0; transition-delay: 0; z-index: 4; }
#vertical-menu-sub-main .shop_list.hover li:nth-of-type(2) { -webkit-transition-delay: 0.2s; transition-delay: 0.2s; z-index: 3; }
#vertical-menu-sub-main .shop_list.hover li:nth-of-type(3) { -webkit-transition-delay: 0.3s; transition-delay: 0.3s; z-index: 2; }
#vertical-menu-sub-main .shop_list.hover li:nth-of-type(4) { -webkit-transition-delay: 0.4s; transition-delay: 0.4s; z-index: 1; }

/*#vertical-menu-sub-main:hover ul.shop_list li { opacity: 1; -webkit-transition: all 0.3s; transition: all 0.3s; z-index: 4; }
#vertical-menu-sub-main input:checked ~ ul.shop_list li { opacity: 1; -webkit-transform: translateY(0) rotate(360deg); transform: translateY(0) rotate(360deg); -webkit-transition: all 0.3s; transition: all 0.3s; }
#vertical-menu-sub-main:hover ul.shop_list li:nth-of-type(1) { -webkit-transition-delay: 0; transition-delay: 0; z-index: 4; }
#vertical-menu-sub-main:hover ul.shop_list li:nth-of-type(2) { -webkit-transition-delay: 0.2s; transition-delay: 0.2s; z-index: 3; }
#vertical-menu-sub-main:hover ul.shop_list li:nth-of-type(3) { -webkit-transition-delay: 0.3s; transition-delay: 0.3s; z-index: 2; }
#vertical-menu-sub-main:hover ul.shop_list li:nth-of-type(4) { -webkit-transition-delay: 0.4s; transition-delay: 0.4s; z-index: 1; }
*/
#vertical-menu-sub-main ul.shop_list li{display: block;margin-top: 15px;}
#vertical-menu-sub-main .wishlist_count .wcount {
    position: absolute;
    top: 1px;
    right: -10px;}
#vertical-menu-sub-main ul.shop_list li.wishlist-btn{padding: 0px;
}
#vertical-menu-sub-main ul.shop_list li.cart-btn {
    padding: 0px;
}

body.vertical-menu-expanded .vertical-navbar-brand {
    display: inline-block;
    opacity: 1;
    
}
.iq-vertical-btn-container.btn-vertical-open{
	padding-left: 0;
}			


}
@media(max-width:576px) {
	.responsive-vertical-logo-btn .blue-btn.button { display: none; }

	header .navbar .sub-main .blue-btn.button{display: none;}
	header .navbar .sub-main ul.shop_list li.wishlist-btn {right: -6%;}
    header .navbar .sub-main ul.shop_list li.cart-btn {right: -25%;}
    header .navbar .sub-main ul.shop_list li.search-btn {right: -15%;}
    #vertical-menu-sub-main ul.shop_list li.search-btn form {display: none;}
}
@media(max-width:527px) {
	.sub-header .social-icone { display: none; }
	
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px; }
}
@media(max-width:479px) {
	.iq-feature-circle .iq-img ul li .feature-info .iq-feature-title { display: none; }
	.iq-slider-with-text-2 .iq-service-slider .slider-info { padding-right: 0; border: none; width: 100%; }
	.iq-slider-with-text-2 .iq-service-slider .slider-info-desc { width: 100%; padding-left: 0; margin-top: 15px; display: block; text-align: left; }

	/*Feature Circle*/
	.iq-feature-circle { height: 300px; width: 300px; }
	.iq-feature-circle .iq-img::before, .iq-feature-circle .iq-img { height: 250px; width: 250px; }
	.iq-feature-circle .dot-circle { display: none; }
	.iq-feature-circle .iq-img ul li .feature-info .feature-img { height: 45px; width: 45px; line-height: 45px; font-size: 24px; }
	.iq-feature-circle .iq-img ul li .feature-info .feature-img img { width: 25px; }
	.iq-feature-circle .circle-bg { height: 60px; line-height: 60px; width: 60px; }
	.iq-feature-circle .circle-bg img { width: 30px; }
	.iq-feature-circle .iq-img ul li:nth-child(1) .feature-info { top: -24px; }
	.iq-feature-circle .iq-img ul li:nth-child(2) .feature-info { left: -15px; }
	.iq-feature-circle .iq-img ul li:nth-child(3) .feature-info { right: -15px; }
	.iq-tabs.iq-tab-vertical-2 .nav.nav-pills[aria-orientation="vertical"] li.nav-item .nav-link .media { display: block; }
	.iq-tabs.iq-tab-vertical-2 .nav.nav-pills[aria-orientation="vertical"] .nav-link img { float: left; margin-bottom: 30px; }
	.iq-tabs.iq-tab-vertical-2 .nav.nav-pills[aria-orientation="vertical"] li.nav-item .nav-link .media .media-body { float: left; width: 100%; }
	.iq-tabs.iq-tab-vertical-2 .nav.nav-pills[aria-orientation="vertical"] li.nav-item .nav-link { margin: 0; }
	header .main-header, header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 0 15px; }
	header .navbar-light .navbar-toggler { right: 0; }
	header.two .request-btn .button, .iq-breadcrumb-one .breadcrumb li:last-child::after { display: none; }
	header .sub-header .number-info li a { font-size: 12px; }
	header.style-one .sub-header .request-btn a:before { width: 260%; left: -15px; }
	.error-404 .big-text { font-size: 150px; line-height: 160px }
	.sub-header .social-icone { display: none; }
	.testimonail-widget-menu .owl-carousel .owl-dots { bottom: 3%; display: inline-block; width: auto; right: 15px; }
	.slideouticons label.mainlabel, .slideouticons .iconswrapper ul li { width: 30px; height: 30px; line-height: 30px; }
	.slideouticons .iconswrapper ul li a i { font-size: 14px; }
	.slideouticons .iconswrapper { top: 31px; }
	.slideouticons label.mainlabel i { font-size: 16px; }
	.iq-team.iq-leader .iq-leader-info { bottom: -108px; padding: 15px; }
	.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a { font-size: 22px; }
	.xamin-contact.contact-style { padding: 75px 15px; }
	.xamin-contact.contact-style h2 { font-size: 26px; }
	.contact-two .wpb_gmaps_widget .wpb_map_wraper iframe { width: 100%; height: 300px; margin: 30px 0 0 0; }
	.xamin-tabs .services-btn { left: 0; }
	.xamin-tabs .col-lg-6.pr-0 .services-tab { padding: 30px 0; }
	.careers-faq .iq-accordion .ad-title:before { height: auto; padding: 10px 15px; top: 8px; }
	.careers-faq .active-faq a.ad-title { display: inline-block; line-height: 28px; }
	.careers-faq .active-faq a.ad-title span { font-size: 18px; }
	.xamin-tabs .video-btn a { width: 60px; height: 60px; line-height: 60px; }
	.xamin-tabs .video-btn a i { line-height: 60px; font-size: 14px; }
	.xamin-contact { padding: 45px 25px; }
	.xamin-contact h2 { font-size: 26px; }
	.iq-portfolio-content .details-box h4, .details-box h4 { font-size: 20px; }
	.details-box a i { line-height: 30px; width: 30px; height: 30px; }
	.iq-amazing-tab .iq-portfolio .iq-portfolio-content .details-box a { line-height: 58px; }
	h2, .title-box h2, .title-box .subtitle, h3 { font-size: 24px; line-height: 36px; }
	.vc_parallax .vc_parallax-inner { background-size: cover !important; }
	.service-box { display: block; margin-bottom: 30px; }
	.service-box img { margin-bottom: 15px; }
	.iq-amazing-tab .iq-portfolio .iq-portfolio-content .details-box { padding: 15px; }
	.testimonial-box p { font-size: 14px; line-height: 30px; }
	.vertical-center.slider .slick-prev { bottom: -28%; }
	.iq-amazing-tab .iq-portfolio-content .consult-details .consult-effect:before { bottom: 79px; }
	.timer-details .timer { font-size: 30px; }
	.vertical-center.slider { margin-bottom: 18px; }
	.iq-breadcrumb-one .breadcrumb li:last-child { padding-right: 0; }
	.images-effect .scroll-effect img.img-two { width: 162px; top: -183px; right: 30px; }
	.testimonial-box h5 span { margin: 0; display: block; }
	.iq-coming h1 { font-size: 42px; margin-bottom: 30px; }
	.maintenance h2 { font-size: 32px; }
	.iq-coming .countdown li { margin: 10px; width: auto; height: auto; padding: 10px; margin: 0; border: none; }
	.iq-coming .countdown li span:after { top: -9px; right: -20px; font-size: 24px; }
	.iq-coming .countdown li span { font-size: 24px; line-height: 24px; }
	.iq-coming .countdown li p { font-size: 12px; line-height: 20px; font-weight: inherit; }
	.client-border .owl-carousel .owl-item img { margin: 0 auto; }
	.about-us-images .main-video { position: relative; top: 0; }
	.year-info.fly-text { left: 0; }
	.year-info span { font-size: 80px; }
	.consulting-blog .blog-button { top: 46px; }
	.careers-faq .iq-accordion .iq-ad-block .ad-title span { font-size: 20px; }
	.about-us-images .year-box { display: none; }
	.year-box:before { right: -15px; top: 15px; border-width: 15px 0 0 15px; }
	.testimonial-box h4 span { display: inherit; margin: 0; }
	.year-box { width: 140px; height: 120px; }
	.consulting-blog .blog-details { padding: 15px 0 5px; }
	header .navbar .sub-main .blue-btn.button { display: none; }
	.year-box span { font-size: 36px; }
	.iq-blog-box .blog-title a h4 { font-size: 22px; }
	.custom-tab .nav-pills .nav-link .tab-title { font-size: 12px; }
	.custom-tab .nav.nav-pills[aria-orientation="vertical"] .nav-link .tab-title { font-size: 20px; }
	.iq-accordion.career-style .accordion-title:before { left: 0; }
	.iq-accordion.career-style .active-faq a.accordion-title  span { width: 60%; }
	.iq-accordion.career-style .iq-accordion-block .accordion-title span { display: inherit; font-size: 20px; }
	.timeline-article .content-box { width: 92%; left: 0; margin-left: 20px; margin-bottom: 29px; padding: 10px; }
	.data-science .owl-carousel.testimonial-style .iq-boxslider-detail .boxslider-content { display: block; width: 100%; }
	.data-science .owl-carousel.testimonial-style .iq-boxslider-detail .boxslider-content:after { display: none; }
	.data-science .owl-carousel.testimonial-style .iq-boxslider-detail .box-gpa { width: 100%; padding: 30px 0px 0px; text-align: left; }
	.custom-tab-userbehavior span.dot { display: none; }
	.custom-tab-userbehavior li .line:after { display: none; }
	.iq-contant  li { font-size: 13px; }
	.content-left-container .content-box .iqtml-top-box .data1 .title { font-size: 20px; }
	.container-visualization ul.iq-client.column-5 li { width: 100%; }
	.container-visualization ul.iq-client.column-5 li:nth-child(1) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(7) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(11) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(13) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(17) { border-right: 1px solid var(--white-light-color); }
	.container-visualization ul.iq-client.column-5 li:nth-child(19) { border-right: 1px solid var(--white-light-color); }
	.iq-chart-data canvas.vc_line-chart-canvas { width: 100% !important; height: 201px !important; }
	.iq-chart-data canvas.vc_round-chart-canvas { height: 200px !important; padding: 30px; }
	.iq-about-edu li a .content { display: block; padding-left: 0px; }
	.iq-accordion-style-1 .iq-accordion-title { padding: 30px; }
	.iq-accordion-style-1 .iq-accordion-block .iq-accordion-title .iq-icon-left { margin-right: 15px; }

    header ul.shop_list li .search-box .search-submit {display: none;}
	table.table.table-responsive.iq-table-dark{display: block;width: 100%;overflow-x: auto;}
	header .navbar .sub-main ul.shop_list li.search-btn {display: none;}

    	

}
@media(max-width:359px) {
	header.header-three .sub-header { display: block; }
	header.style-one li .search-box input[type="search"] { right: -8px; }
	header li .search-box input[type="search"]:focus { width: 235px; }
	.sub-header { display: none }
	.error-404 h1 { font-size: 62px; }
	header.style-one .search-box { display: none }
	.servicebox-userbehavior { padding: 40px 15px 40px 65px }
	.content-right-container .content-box .iqtml-top-box .data1 .title { font-size: 20px; }
	.iq-video-button.top.blue .main-video { left: 14%; }

	header.style-one li .search-box .search-submit i {display: none;}
	/*#vertical-menu-sub-main { display: none; }*/
	/*header.style-one .shop_list {display: none;}*/

	body.vertical-menu-expanded .vertical-navbar-brand {
    top: 0px;
}
#vertical-menu-sub-main {
    top: -22px;}
    .vertical-navbar-brand img {
    width: 140px;
}

}